*.png
*.mp4
*.mp3
old_logs/
old_logs_2/
other/
pretrianed_models/
logs/
data/
data_idxs/
trained_models/
pretrained_models/
assets/expression_templates_famos
assets/FLAME2020
assets/mica.tar
assets/ResNet50
assets/face_landmarker.task
assets/LRS3_lists.pkl
assets/MEAD_lists.pkl
.vscode
__pycache__/
